# Python
__pycache__/
*.pyc
env/
venv/

# Node
node_modules/
frontend/node_modules/
*.log

# Django
*.sqlite3
/static/
media/

# Docker
*.pid
*.db
*.env
.env.*
.dockerignore

# VS Code
.vscode/

# Mac
.DS_Store

# System
Thumbs.db
